.svn
.svn/*
memoria_latex.zip
*.aux
*.fdb_latexmk
*.fls
*.log
main.bbl
main.blg
main.lof
main.lot
main.out
main.pdf
main.synctex.gz
main.synctex.gz (busy)
main.toc
_minted-main
main.bcf
main.run.xml
svg-inkscape
